/* Reset */

*{
    margin: 0 auto;
    padding: 0; 
    box-sizing: border-box;
}
/*  Intestazione sito */
.body {
    margin: 0;
    font-family: 'Open Sans';
    font-optical-sizing: auto;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: white;
}
.container-big{
    margin: 0 auto;
}
header{
    padding-top: 10px;
   
}
.navbar{
    padding-top: 30 px;
    padding-left: 10px;
    
}
.conteiner-big .nav{
    display: flex;
    
}

.logo{
    margin-left: 10px;
    margin-right: 5px;
}
.list-left{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin-left: 0px;
}

.list-right{
    display: flex;
    align-items: center;
    width: 350px; 
    margin-right: 0px;
}

.btn-accedi{
    background-color: #0061fe;
    margin-right: 0;
    margin-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}
/*  Intestazione sito */



/* Jumbotron-header */
.jumbotron {
    background-color: #b4d0e6;
    
}
.img{
    width: 100%;
}

.container{
    position: relative;
    bottom: -80px;
}

#title{
    display:flex;
    justify-content: center;
    width: 1000px;
    font-size: 80px;
    font-weight: bold;
    padding-top: 50px;
}
.jumbo-info{
    width: 1200px;
   
}
.jumbotron .jumbo-info {
    display: flex;

}  
.btn-prova{
display: block;
background-color: #0061fe;
margin-right: 0;
margin-left: 0;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 5px;
padding-right: 5px;
color: white;
color: white;
}

.jumbotron .jumboleft{
    width: 30%;
}
.jumbotron .jumboleft{
    width: 70%;
}

